<div class="row">
  <% if products.present? %>
    <% products.each do |product| %>
      <div class="col-sm-4 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% product.images.each_with_index do |image, i| %>
                  <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
                    <%= image_tag(image.attachment.url(:large)) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="productCaption clearfix">
            <h5>
              <%= link_to(product.name, potepan_product_path(product.id)) %>
            </h5>
            <h3><%= product.display_price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
