<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">Product categories</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxon_roots.each do |taxon_root| %>
            <%= render 'sidebar_tree', taxon: taxon_root %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default filterNormal" id="filter-by-color">
    <div class="panel-heading">filter by Color</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% colors.each do |color| %>
          <% number = Spree::Product.count_products_with_option_value(taxon, color.name) %>
          <% unless number.zero? %>
            <li id = "<%= "selected-option-value" if color.name==params[:color] %>">
              <%= link_to(potepan_category_path(id: taxon.id, color: color.name, size: params[:size])) do %>
                <%= color.name %><span><%= "(#{number})" %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <%= link_to(potepan_category_path(id: taxon.id, color: nil, size: params[:size])) do %>
          reset filter
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">filter by Size</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <% sizes.each do |size| %>
          <% number = Spree::Product.count_products_with_option_value(taxon, size.name) %>
          <% unless number.zero? %>
            <li id = "<%= "selected-option-value" if size.name==params[:size] %>">
              <%= link_to(potepan_category_path(id: taxon.id, size: size.name, color: params[:color])) do %>
                <%= size.name %><span><%= "(#{number})" %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <%= link_to(potepan_category_path(id: taxon.id, color: params[:color], size: nil)) do %>
          reset filter
        <% end %>
      </ul>
    </div>
  </div>
</div>
