<li>
  <% if taxon.children.present? %>
    <%= link_to('javascript:void(0);', data: {toggle:"collapse", target:"##{taxon.name}"}) do %>
      <%= taxon.name %><i class="fa fa-plus" id="side-icon-right"></i>
    <% end %>
  <% else %>
    <%= link_to(potepan_category_path(taxon.id)) do %>
      <i class="fa fa-caret-right" id="side-icon-left" aria-hidden="true"></i><%= taxon.name %><span><%= "(#{taxon.products.count})" %></span>
    <% end %>
  <% end %>
  <ul id="<%= taxon.name %>" class="collapse collapseItem">
    <% taxon.children.each do |child| %>
      <%= render 'sidebar_tree', taxon: child %>
    <% end %>
  </ul>
</li>
