<% provide(:title, @taxon.name) %>
<%= render 'layouts/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxon: @taxon, taxon_roots: @taxon_roots, colors: @colors, sizes: @sizes, products: @products %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= form_tag(request.path, method: :get, enforce_utf8: false) do %>
              <%= hidden_field_tag :color, params[:color] %>
              <%= hidden_field_tag :size, params[:size] %>
              <%= select_tag "sort", options_for_select([
                ["新着順", "sort_by_newness"],
                ["安い順", "sort_by_price_asc"],
                ["高い順", "sort_by_price_desc"],
                ["古い順", "sort_by_oldness"]], selected: params[:sort]||"sort_by_newness"), {onchange: 'submit(this.form);'} %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <%= link_to(potepan_category_path(id: @taxon.id, view: :grid), class: "btn btn-default", remote: true) do %>
                <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
              <% end %>
              <%= link_to(potepan_category_path(id: @taxon.id, view: :list), class: "btn btn-default", remote: true) do %>
                <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
              <% end %>
            </div>
          </div>
        </div>
        <div id="product_form">
          <%= render @partial, taxon: @taxon, products: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partners_logo_slider' %>
