<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each_with_index do |product, index| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="productBox">
        <div class="productImage clearfix">
          <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% product.images.each_with_index do |image, i| %>
                <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
                  <%= image_tag(image.attachment.url(:large)) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="productCaption clearfix">
          <%= link_to(potepan_product_path(product.id)) do %>
            <h5><%= product.name %></h5>
          <% end %>
          <h3><%= product.display_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
