<% provide(:title, "Search products") %>
<%= render 'layouts/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="product_form">
          <h4><%= "keyword: #{params[:q]}" %></h4>
          <div class="row productListSingle">
            <% if @search_products.present? %>
              <% @search_products.each do |product| %>
                <div class="col-xs-12">
                  <div class="media">
                    <div class="media-left">
                      <div id="carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <% product.images.each_with_index do |image, i| %>
                            <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
                              <%= image_tag(image.attachment.url(:large)) %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <%= link_to(product.name, potepan_product_path(product.id)) %>
                      </h4>
                      <p><%= product.description %></p>
                      <h3><%= product.display_price %></h3>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partners_logo_slider' %>
